.contDetail {
  text-align: left;
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.icon {
  width: 16px;
  height: 16px;
  padding-right: 4px;
}
.name {
  padding-bottom: 8px;
}
.ratingLocation {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}
.rating {
  display: flex;
  align-items: center;
}
.rating p {
  border-bottom: 1px solid #101828;
  padding-left: 4px;
  color: #101828;
}
.price {
  font-size: 24px;
  padding-bottom: 28px;
}
.iconStar {
  width: 18px;
  height: 18px;
  fill: #ffc531;
  padding-bottom: 4px;
}
.galleryContainer {
  display: flex;
  width: 1312px;
  justify-content: center;
  gap: 48px;
  padding-bottom: 28px;
}

.image {
  width: 292px;
  height: 312px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: #fff;
  padding: 4px;
  border-radius: 10px;
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalImage {
  max-width: 100%;
  max-height: 80vh;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.contFeReForm {
  display: flex;
  gap: 40px;
}

.links {
  display: flex;
  border-bottom: 1px solid #dadde1;
  padding-top: 60px;
  font-size: 24px;
  font-weight: 600;
  gap: 40px;
  padding-bottom: 24px;
  margin-bottom: 44px;
}
.activeLink {
  position: relative;
}
.activeLink::after {
  content: "";
  position: absolute;
  left: 0;
  top: 54px;
  width: 100%;
  height: 5px;
  background-color: #e44848;
}
