.campertlist {
  display: flex;
  flex-direction: column;
  width: 888px;
  gap: 32px;
 animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btnLoadMore {
  width: 145px;
  height: 56px;
  border-radius: 30px;
  background-color: transparent;
  color: #101828;
  border: 1px solid #dadde1;
  font-size: 16px;
  margin-top: 40px;
}
.btnLoadMore:hover,
.btnLoadMore:focus {
  border: 1px solid #d84343;
}
