.contBooking {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 527px;
  padding: 44px 57px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  text-align: left;
}
.bookTitle {
  font-size: 20px;
}
.bookText {
  font-size: 16px;
  font-weight: 400;
  color: #6c717b;
}
.formCont {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 16px;
}
.form {
  display: flex;
  flex-direction: column;
}
.input {
  border-radius: 12px;
  width: 491px;
  padding-left: 18px;
  height: 60px;
  border: none;
  background-color: #f7f7f7;
  outline: none;
  font-family: Inter, sans-serif;
  line-height: 60px;
}
.btnSubmit {
  color: #ffffff;
  width: 166px;
  height: 56px;
  background-color: #e44848;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  margin-top: 8px;
}
