.contCamper {
  display: flex;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
}
.name {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contPiconsBtn {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.image {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.icon {
  width: 16px;
  height: 16px;
  padding-right: 4px;
}
.contCamperText {
  display: flex;
  flex-direction: column;
  min-width: 524px;
}
.contNamePrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 24px;
  font-weight: 600;
}
.miniCont {
  display: flex;
  gap: 12px;
}
.iconFav {
  width: 26px;
  height: 24px;
  padding-top: 4px;
}
.favSelected {
  fill: #e44848;
}
.filtIcon {
  padding-top: 24px;
  width: 430px;
}
.btnShow {
  width: 166px;
  height: 56px;
  border-radius: 30px;
  background-color: #e44848;
  color: #ffffff;
  border: none;
  font-size: 16px;
  margin-top: 24px;
}
.ratingLocation {
  align-items: center;
  gap: 16px;
  display: flex;
  padding-bottom: 24px;
}
.iconStar {
  width: 18px;
  height: 18px;
  fill: #ffc531;
  padding-bottom: 4px;
}
.rating,
.location {
  display: flex;
  align-items: center;
}
