.iconF {
  width: 20px;
  height: 20px;
}
.filterGroupF {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 400px;
  padding-top: 24px;
}
.filterBoxF {
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 30px;
  background-color: #f2f4f7;
  padding: 12px 18px;
}
.whiteFilStr {
  fill: transparent;
  stroke: black;
}
