.featureCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.inputWrapp {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 8px;
}
.input {
  width: 360px;
  height: 56px;
  text-indent: 46px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background-color: #f7f7f7;
  outline: none;
}
.icon {
  position: absolute;
  left: 18px;
  width: 20px;
  height: 20px;
  fill: #6c717b;
}

.inputWrapp:focus-within .icon,
.input:not(:placeholder-shown) ~ .icon {
  fill: #101828;
}
.label {
  display: block;
  text-align: left;
}
.title {
  text-align: left;
  padding-top: 40px;
}
.filterWrap {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #dadde1;
  padding-top: 24px;
  row-gap: 8px;
  column-gap: 12px;
}
.iconFiltr {
  max-height: 32px;
  width: 32px;
  fill: #101828;
}
/* .labelFiltr {
  color: #101828;
} */
.filterBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 94px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.filterBox.selected {
  border-color: #d84343;
}

.equipmentTitle,
.typeTitle {
  font-size: 20px;
  font-weight: 600;
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: start;
}
.filterGroup {
  border-top: 1px solid #dadde1;
  padding-top: 24px;
  display: flex;
  gap: 12px;
}
.searchButton {
  width: 166px;
  height: 56px;
  border-radius: 30px;
  background-color: #e44848;
  color: #ffffff;
  border: none;
  font-size: 16px;
  margin-top: 40px;
}
.searchButton:hover,
.searchButton:focus {
  background-color: #d84343;
}
.noResults {
  display: flex;
  position: absolute;
  margin-left: 800px;
  margin-top: 100px;
  background-color: #d84343;
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  font-weight: 600;
}
