.contFeatById {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 44px 52px;
  border-radius: 10px;
  width: 527px;
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.vehicle {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 45px;
}
.vehicleTitle {
  display: flex;
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid #dadde1;
  align-items: start;
  padding-bottom: 24px;
}
.vehicleValue {
  width: 527px;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  color: #101828;
}
/* .filterIc {
  padding-bottom: 100px;
} */
